@media screen and  (min-width: 468px)  {

    @import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Momo+Signature&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Momo+Signature&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{

    margin: 0px;
}

 .container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(3,90vw);
    justify-items: center;
}
.title {
    grid-row: 1;
    color: black;
    font-size: 2em;
    margin-top: 20vh;
}
header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    align-items: flex-start;
    background: #cebebe7d;
}

.logo {
    width: 30%;
}
h1 {
    
    font-size: 2em;
    font-family: "Poppins", serif;
}
h2 {
    
    font-size: 1.5em;
    font-family: "Poppins", serif;
}

h1,h2 {
    color: #E8D4C0;

}
#titrecache {
    position: relative;
    left: 5%;
    opacity: 50%;
    bottom: 10vh;
}
#corpo {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.histoire {
    grid-row: 3;
    
    font-size: 1.5em;
    font-family: Lora , sans-serif;
    line-height: 1.7em;
}


img#icon {
    background-repeat: no-repeat;
    background-size: cover;
    width: 30vw;
    cursor: pointer;
    
    
}
div#navbar {
    display: none;
}
div#bg {
    width: 10vh;
    height: 9vh;
    background-image: url(/images/burger-bar.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 2vh;
    margin-top: 3vh;
    position: sticky;
    
}

ul {
    display: flex;
    width: 50vw;
        margin-top: 12vh;
    flex-direction: column;
    list-style-type: none;
    background: #E8D4C0;
    z-index: 2;
    border-bottom-right-radius: 3em;
    position: fixed;
    font-family: "Poppins", regular;
}

a#EX , a#SK {
    text-decoration: none;
    color: #E5A989;
    font-size: 2em;
}

p#description {
    margin-left: 5vw;
}






















    
}